/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b97e00;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-color-banner-bg: #f8f8f8;
  --docusaurus-highlighted-code-line-bg: rgb(0, 0, 0, 0.06);
  --prism-background-color: white;
  --ifm-code-border-radius: 0;
  --ifm-global-shadow-lw: none;
  --ifm-color-emphasis-300: #eee;
  --ifm-alert-border-radius: 0;
  --ifm-table-border-width: 0;
}

table th {
  text-align: left;
}

.codeBlockContainer_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Container-styles-module,
table {
  border: 1px solid #eee;
}

table {
  display: inline-block;
}

.codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module,
.codeBlock_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  background-color: #fafafa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffc445;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-color-banner-bg: #403a31;
}

* {
  font-size: 14px;
  font-family: Tahoma, 'Trebuchet MS', Arial;
  --doc-sidebar-width: 220px;
  --ifm-heading-font-family: Tahoma, 'Trebuchet MS', Arial;
}

.prism-code .token {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.markdown h1:first-child {
  font-size: 30px;
}

.markdown > h2 {
  font-size: 20px;
}

.markdown > h3 {
  font-size: 20px;
}

.navbar--fixed-top * {
  font-size: 16px;
}

.theme-doc-sidebar-container {
  border-right: 1px solid rgba(128, 128, 128, 0.2) !important;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.table-of-contents__left-border {
  border-color: rgba(128, 128, 128, 0.2);
}

.menu__link,
.menu__link--active,
.menu__list-item-collapsible {
  background-color: transparent !important;
}

.menu__link:hover {
  opacity: 0.7;
}

.breadcrumbsItemLink_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocBreadcrumbs-styles-module {
  background-color: transparent !important;
}

.breadcrumbs {
  display: none;
}
